html {
    
}
* {
    padding: 0%; margin: 0;
}
body {
    width: 96%;
    padding: 1%;
    align-items: center;

    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
header {
    
    display: flex;
    justify-content: center;
    width: 100%;
    border: solid gray;
    border-width: 0.6px;
    border-radius: 100px;
    height: 200px;
    background-image: url(imgKatalogoa/OneFreaks.jpg);
    background-size: cover;
    background-position: center;
}
    
header div img {
width: 375px;
}

/*----------------------------------NAV--------------------------------*/
nav {
    border: solid gray;
    border-width: 0.6px;
    display: inline;
    border-radius: 98px;
    padding: 1%;
    width: 98%;
    height: 50px;
    margin-bottom: 1%;
    background-color: #a3dbcd;

}

nav ul {
    text-align: center;
    display: flex;
    justify-content:space-between;
    background-color: #a3dbcd;
    margin: 15px;

}

nav ul li {
    color: blue;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
}
/*------------------MAIN-----------------*/
main {
    border: solid gray;
    border-width: 0.6px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color: #f9f9f9;
}
main h2 {
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: #a3dbcd;
}
main span {
    background-color: #a3dbcd;
}
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section div {
    border: solid gray;
    border-width: 0.6px;
    margin: 2%;
    width: 25%;
    background-color:  #a3dbcd;;
}

section img {
    width: 100%;
    height: 300px;
}


footer {
    margin-top: 2%;
    border: solid gray;
    border-width: 0.6px;
    width: 100%;
    text-align: center;
    background-color:#a3dbcd;
    padding: 10px;
}

@MEDIA only screen and (max-width: 767px) {
    main img {
        width: 100px;
    }
}